body {
  font-family: 'Roboto';
}

.header {
  display: flex;
  color: whitesmoke;
  background-color: navy;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container > * {
  padding: 10px;
}

.logo {
  height: 50px;
  width: 50px;
}

nav {
  display: flex;
  margin: 1em;
  color: whitesmoke;
  align-self: center;
}

nav > div {
  margin: 1em;
}