body {
  margin: 0;
  height: 100vh;
}

.hero-unit {
  height: 80vh;
  width: 90vw;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.hero-unit-image {
  position: absolute;
}

.hero-unit-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.8;
}

.hero-unit-caption-container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero-unit-caption {
  color: whitesmoke;
  font-size: 3em;
}

