body {
  height: 100vh;
  font-family: 'Roboto';
}

body, figure {
  margin: 0;
  padding: 0;
}

.hero-unit {
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.hero-unit-image {
  height: 80vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}

.hero-unit-mask {
  background: black;
  opacity: 0.85;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 11;
}

.hero-unit-caption-container {
  z-index: 12;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  position: absolute;
  font-size: 3em;
}
