<header class="header">
    <div class="logo-container">
      <img class="logo" src="images/logo.png" alt="Razer Logo">
      <span class="caption">Razer</span>
    </div>
    <nav>
      <div>Home</div>
      <div>About Us</div>
      <div>Contact Us</div>      
    </nav>
  </header>